<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.aku.hassannaqvi.mi_covid">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeUrdu">
        <activity android:name=".ui.sections.SectionIActivity"></activity>
        <activity android:name=".ui.sections.SectionHActivity" />
        <activity android:name=".ui.sections.SectionFActivity" />
        <activity android:name=".ui.sections.SectionEActivity" />
        <activity android:name=".ui.sections.SectionDActivity" />
        <activity android:name=".ui.sections.SectionCActivity" />
        <activity android:name=".ui.sections.SectionBActivity" />
        <activity android:name=".ui.sections.SectionAActivity" />
        <activity android:name=".ui.sections.InfoSectionActivity" />
        <activity
            android:name=".ui.other.SplashscreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.other.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish" />
        <activity
            android:name=".ui.other.MainActivity"
            android:theme="@style/AppThemeEnglish">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.other.EndingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".core.AndroidDatabaseManager"
            android:parentActivityName=".ui.other.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish" />
        <activity
            android:name=".ui.sync.SyncActivity"
            android:parentActivityName=".ui.other.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEnglish" />

        <service android:name=".utils.DownloadFileService" />
        <service
            android:name=".MyNavigationService"
            android:foregroundServiceType="location" />
    </application>

</manifest>